{{ define "main" }}
<div class="bookshelf-layout">
    <header class="bookshelf-header">
        <h1>{{ .Site.Title }}</h1>
        <p class="description">{{ .Site.Params.description }}</p>
    </header>

    <main class="bookshelf-grid">
        <div id="book-container" class="book-list">
            {{ range .Site.Sections }}
            <a href="{{ .RelPermalink }}" class="book-card-link">
                <article class="book-card">
                    <div class="book-card-thumbnail">
                        {{ with .Params.image }}
                        <img src="{{ . | absURL }}" alt="{{ $.Title }}">
                        {{ else }}
                        <div class="placeholder-cover"></div>
                        {{ end }}
                    </div>
                    <div class="book-card-content" {{ with .Params.language }}lang="{{ . }}" {{ end }}>
                        <h2 class="book-card-title">{{ .Title }}</h2>
                        <p class="book-card-author">{{ .Params.author }}</p>
                        <div class="book-card-meta">
                            <span>{{ len .Pages }} Chapters</span>
                        </div>
                    </div>
                </article>
            </a>
            {{ end }}
        </div>
    </main>
</div>
{{ end }}